<div class = "container">

<form action="/write" method="POST">
    <h1 style = font-size:100px;font-color:blue;margin:auto;position:center;margin-top:100px;>이 메 일 보 내 십 시 오</h1>
  <div class="form-group" style = margin:auto;>
    <label for="exampleInputEmail1">이 메 일 주 소</label>
    <input type="email" class="form-control" rows="5" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group" style = margin:auto;>
    <label for="exampleInputPassword1">암 호</label>
    <input type="password" class="form-control" rows="5" id="exampleInputPassword1" placeholder="Password">
  </div>
  
 
 
  <button type="submit" class="btn btn-default">보 내 렴!</button>
</form>
</div>